.custom-toolbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  background: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

.spacer {
  flex: 1 1 auto;
}

.user-name {
  margin-left: 8px;
}